<!-- Overview tab -->
<%- if pool.health == :online %>
  <div class="row">
    <!-- Usage column -->
    <div class="col-md-6 col-lg-4">
      <%= partial(:'filesystems/usage', locals: {fs: pool}) %>
    </div>

    <!-- Properties column -->
    <div class="properties col-md-6 col-lg-4">
      <%= partial(:'filesystems/properties', locals: {fs: pool}) %>
    </div>
  </div>
<% end %>

<!-- Status row -->
<div class="row">
  <div class="col-sm-12">
    <h2>Status</h2>
    <pre><%= pool.status %></pre>
  </div>
</div>