<!-- Overview tab -->
<div class="row">
  <!-- Usage column -->
  <div class="usage">
    <%= partial(:'filesystems/usage', locals: {fs: fs}) %>
  </div>

  <!-- Properties column -->
  <div class="properties">
    <%= partial(:'filesystems/properties', locals: {fs: fs}) %>
  </div>
</div> <!-- .row -->