/* _sidebar.scss */

.sidebar {
	@include make-sm-column(4);
	@include make-md-column(3);
	display: none;

	@media (min-width: 768px) {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1000;
		display: block;
		padding: 0;
		//margin-top: 50px;
		background-color: white;
		//border-right: 1px solid #ccc;
		//overflow-x: hidden;
		//overflow-y: auto;

		//-webkit-box-shadow: 1px 0px 2px #ddd;
	}

	header {
		height: 42px;

		.search {
			float: left;
			width: calc(100% - 42px);
			height: 100%;
			border-bottom: 1px solid #ccc;

			i {
				position: absolute;
				left: 12px;
				top: 13px;
				color: $gray-light;
			}

			input[type="text"] {
				//display: inline-block;
				//font-size: 1.1em;
				height: 100%;
				padding-left: 32px;
				border: none;
				border-radius: 0px;
				background-color: $gray-lightest;

				&:focus {
					background-color: white;
				}
			}
		}

		.add-group {
			position: absolute;
			right: 0px;

			width: 44px;
			height: 42px;

			button {
				@extend .btn;
				@extend .btn-success;
				@extend .dropdown-toggle;

				width: 100%;
				height: 100%;

				font-size: 18px;
				line-height: 1.5;
				border-radius: 0px;
			}
		}
	}

	.list {
		position: absolute;
		width: 100%;
		top: 42px;
		bottom: 0;
		overflow: auto;
		border-right: 1px solid #ccc;

		.item {
			@extend .list-group-item;
			border-radius: 0;
			border-left: 0;
			border-right: 0;
			border-color: #ccc;
			font-weight: 600;

			/* Truncate text tail if too wide */
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:active {
				background-color: darken($list-group-hover-bg, 8%) !important;
			}

			&.pool {
				padding-left: 10px;

				.progress {
					margin-left: 42px;
					margin-top: 2px;
					margin-bottom: 2px;
				}
			}

			&.filesystem {
				padding-left: 30px;

				.badge {
					color: $gray !important;
					background-color: transparent !important;
					border-radius: 0px;
					font-weight: 600;
					padding: 5px 0px;
					margin-left: 5px;
				}
			}

			// Override Bootstrap's border radius
			&:first-child, &:last-child {
				border-radius: 0;
			}

			&:first-child {
				border-top: 0;
			}

			h1, h2, h3, h4, h5 {
				@extend .list-group-item-heading;
				font-size: 15px;
				font-weight: 600;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				margin-bottom: 0;
				padding-bottom: 5px;
			}

			p {
				@extend .list-group-item-text;
				font-size: 12px;
			}

			.info {
				color: $gray;
				.error { color: $brand-danger; }
			}

			.status {
				font-weight: bold;
				font-size: 11.5px;
			}

			.icon {
				float: left;
				
				&.pool {
					width: 32px; height: 32px;
					margin-right: 10px;
					margin-top: 2px;
					background: image-url("pool.png") no-repeat center;
				}

				&.folder {
					width: 16px; height: 16px;
					margin-top: 2px;
					margin-right: 6px;
					background: image-url("folder.png") no-repeat center;
				}
			}
		}
	}
}
