/* _sidebar.scss */

.sidebar {
	@include make-sm-column(4);
	@include make-md-column(3);
	display: none;

	@media (min-width: 768px) {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1000;
		display: block;
		padding: 0;
		//margin-top: 50px;
		background-color: white;
		border-right: 1px solid #ccc;
		//overflow-x: hidden;
		//overflow-y: auto;

		//-webkit-box-shadow: 1px 0px 2px #ddd;
	}

	header {
		height: 42px;
		//padding: 8px 10px;
		//background-color: $gray-lighter;
		border-bottom: 1px solid #ccc;

		.search {
			float: left;
			width: calc(100% - 44px);
			height: 100%;
			//display: inline-block;

			i {
				position: absolute;
				left: 12px;
				top: 13px;
				color: $gray-light;
			}

			input[type="text"] {
				//display: inline-block;
				//font-size: 1.1em;
				height: 100%;
				padding-left: 32px;
				border: none;
				border-radius: 0px;
				background-color: $gray-lightest;

				&:focus {
					background-color: white;
				}
			}
		}

		.create-pool {
			display: inline-block;
			width: 44px;
			height: 100%;
			background-color: green;
		}
	}

	.list {
		position: absolute;
		width: 100%;
		top: 42px;
		bottom: 0;
		overflow: auto;

		.item {
			@extend .list-group-item;
			border-radius: 0;
			border-left: 0;
			border-right: 0;
			border-color: #ccc;
			padding-left: 20px;

			&:active {
				background-color: darken($list-group-hover-bg, 8%) !important;
			}

			// Override Bootstrap's border radius
			&:first-child, &:last-child {
				border-radius: 0;
			}

			&:first-child {
				border-top: 0;
			}

			&.group {
				//background-color: #36a9e1;//lighten(#383e4b, 30%);//#f9f9f9;
				//color: white;
				//border: none;
				font-weight: bold;
				padding-left: 15px;

				// Icon
				i { margin-right: 4px; }
			}

			h1, h2, h3, h4, h5 {
				@extend .list-group-item-heading;
				font-size: 15px;
				font-weight: normal;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				margin-bottom: 0;
				padding-bottom: 5px;
			}

			p {
				@extend .list-group-item-text;
				font-size: 12px;
			}

			.info {

			}

			.progress {
				margin-top: 2px;
				margin-bottom: 2px;
			}

			.status {
				font-weight: bold;
				font-size: 11.5px;
			}

			.logo {
				float: left;
				width: 32px;
				height: 32px;
				margin-right: 13px;
				margin-top: 3px;

				&.folder { background: image-url("folder.png") no-repeat center; }
				&.fedora { background: url("/img/fedora.png") no-repeat center; }
				&.redhat { background: url("/img/redhat.png") no-repeat center; }
				&.ubuntu { background: url("/img/ubuntu.png") no-repeat center; }
				&.windows { background: url("/img/windows2012.png") no-repeat center; }
				&.windows-xp { background: url("/img/windows_xp.png") no-repeat center; }
			}
		}
	}
}
