/* application.scss */

@import "variables";
// vendor
@import "bootstrap";
@import "font-awesome";

@import "bs-callouts";
// Vendor
@import "pace";
@import "switchery";

// Custom
@import "fonts";
@import "icons";
@import "sidebar";
@import "overview";

.wrapper {
	@extend .container-fluid;
}

/*
 * Main content
 */
.main {
	@include make-sm-column(8);
	@include make-sm-column-offset(4);

	@include make-md-column(9);
	@include make-md-column-offset(3);

	padding: 0;
	/*padding: 20px;

	@media (min-width: 768px) {
	    padding-left: 40px;
	    padding-right: 40px;
	}*/

	& > header {
		display: table;
		width: 100%;
		height: 106px;
		padding: 20px 40px;
		background-color: $alternate-bg;

		.title, .actions {
			display: table-cell;
			vertical-align: middle;
			//text-align: right;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 0px;
		}
	}

	.nav.nav-tabs {
		background-color: $alternate-bg;
	}

	.tab-content {
		padding: 40px;
	}

	.content {
		@extend .container-fluid;
		padding: 10px 40px;
		border-top: 1px solid $nav-tabs-border-color;

		form {
			margin: 30px 0;
		}
	}
}

/* Disable Bootstrap's glow for inputs */
.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Custom progress bar */
.progress.progress-thin {
	height: 4px;
	border-radius: 0;
}

/* Offset first tab to the right */
.nav-tabs li:first-child {
	margin-left: 40px;
}

label.disabled {
	color: $gray-light;
}