<div class="row">
  <div class="sidebar">
    <header>
      <!-- Search -->
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>

      <!-- Create Pool -->
      <a href="#" class="create-pool-btn" title="Create pool">
        <i class="fa fa-plus"></i>
      </a>
    </header>

    <!-- Pool & datasets list -->
    <div class="list">

      <a class="item pool" href="#">
        <span class="icon pool"></span>
        <h1>tank</h1>

        <div class="info">
          <p>40 <b>GB</b> / 100 <b>GB</b></p>
          <div class="progress progress-thin">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
          </div>
        </div>
      </a>

      <a class="item filesystem active" href="#">
        <span class="icon folder"></span>
        <span class="badge">5 <b>TB</b></span>
        dataset1/test
      </a>

      <a class="item filesystem" href="#">
        <span class="icon folder"></span>
        <span class="badge">254 <b>GB</b></span>
        dataset2
      </a>

    </div>
  </div>

  <div class="main">
    <h1>Hello</h1>
    <!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>
  </div> <!-- .main -->

</div> <!-- .row -->