<div class="jumbotron">
  <h1>Welcome on ZUI</h1>
  <p>To begin, select an item in the sidebar.<br>
    If it is empty, create your first pool by clicking the 
    <span class="text-success">green</span> button.
  </p>
</div>