<div class="row">
  <div class="sidebar">
    <header>
      <!-- Search -->
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>

      <!-- Create Pool -->
      <a href="#" class="create-pool">
        test
      </a>
    </header>

    <!-- Pool & datasets list -->
    <div class="list">

      <a class="item pool" href="#">
        <span class="icon pool"></span>
        <h1>tank</h1>

        <div class="info">
          <p>40 <b>GB</b> / 100 <b>GB</b></p>
          <div class="progress progress-thin">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
          </div>
        </div>
      </a>

      <a class="item filesystem active" href="#">
        <span class="icon folder"></span>
        dataset1/test
      </a>

      <a class="item filesystem" href="#">
        <span class="icon folder"></span>
        dataset2
      </a>

    </div>
  </div>

  <div class="main">
    <h1>Hello</h1>
  </div> <!-- .main -->

</div> <!-- .row -->